body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

.book-card {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
}